<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Django Challenge</title>
</head>
<body>
	{% for tweet in tweets %}
		<div style="border: 1px solid black; margin-top: 10px; border-radius: 8px;">
			<div>idx: {{ forloop.counter }}</div>
			<div>username: {{ tweet.user.username }}</div>
			<div>payload: {{ tweet.payload }}</div>
			<div>likes: {{ tweet.like_count }}</div>
			<div>created_at: {{ tweet.created_at }}</div>
			<div>updated_at: {{ tweet.updated_at }}</div>
		</div>

	{% endfor %}
	
</body>
</html>